<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 이하 생략 -->
     <style>
        .mail-container {
            background-color: #f3f3f3;
            padding: 20px;
        }
        .mail-title {
            color: #333333;
            font-size: 24px;
            margin-bottom: 20px;
      }
        .mail-content {
            color: #555555;
            margin-top: 20px;
            font-size: 22px;
        }
    </style>
</head>
<body>
    <div style="margin:50px;" class="mail-container">
        <h1 class="mail-title">아이디 찾기 결과</h1>
        <p class="mail-content">
            '<span th:text="${userName}"></span>' 님의 SFDB 아이디는 '<span th:text="${userId}"></span>' 입니다.
        </p>
    </div>
</body>
</html>